<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
    <title>Apple Store</title>
</head>

<body class="body">
<table class="sheetsTable">
    <tr>
        <td colspan="2">Добпро пожаловать в магазин Яблок</td>
    </tr>
    <tr align="center" class="c1">
        <td></td>
        <td>Корзина</td>
    </tr>
    <tr class="l1" valign="top">
        <td valign="top">
            <pre>
            </pre>
            <a th:href="@{/product}" class="btn">Яблоки</a>
        </td>
        <td>
            <table class="table">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th width=100px></th>
                </tr>
                </thead>

                <div th:each="c: ${card}">
                    <tbody>
                    <tr>
                        <td>
                            <span th:text="${c.getName()}"></span>
                        </td>
                        <td>
                            <span th:text="${c.getCost()}"></span>
                        </td>
                        <td>
                            <a th:href="@{'/card/' + ${c.getId()}}"  class="btn">Удалить</a>
                        </td>
                    </tr>
                    </tbody>

                </div>
            </table>
            <a th:href="@{/card/clear}" class="btn" onClick="alert('Успешно куплено!')">Купить</a>
        </td>
    </tr>
</table>
</body>

</html>