<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
    <title>Apple Store</title>
</head>

<body class="body">
<table class="sheetsTable">
    <tr>
        <td colspan="2">Добпро пожаловать в магазин Яблок</td>
    </tr>
    <tr class="c1" align="center">
        <td></td>
        <td>Яблоки</td>
    </tr>
    <tr class="l1" valign="top">
        <td valign="top">
            <pre>
            </pre>
            <a th:href="@{/card}" class="btn">Корзина</a>
        </td>
        <td>
            <table class="table">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
                </thead>

                <div th:each="c: ${product}">
                    <tbody>
                    <tr>
                        <td>
                            <span th:text="${c.getName()}"></span>
                        </td>
                        <td>
                            <span th:text="${c.getCost()}"></span>
                        </td>
                        <td>
                            <a th:href="@{'/product/' + ${c.getId()}}"  class="btn">В корзину</a>
                        </td>
                    </tr>
                    </tbody>
                </div>
            </table>
        </td>
    </tr>
</table>
</body>

</html>